<p id="notice"><%= notice %></p>

<h1>Список Ням-Ням</h1>
<table>
  <thead>
    <tr>
      <th>Название заведение</th>
      <th>Описание</th>

    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%=  link_to shop.name, shop %> </td>
        <td><%= shop.desc %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
